* {
	margin: 0;
	padding:  0;
}

 @font-face {
    font-family: "helvetica_neueregular";
    src: url("../fonts/helveticaneue-thin-webfont.woff2") format("woff2"),
         url("../fonts/helveticaneue-thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: "helvetica_neueregular", Arial, Sans-serif;
}

.clearfix {
	clear: both;
}

.container {
	width: 100%;
	height: 1060px;
	background-image: url(../images/bg1.png);
	background-size: cover;
	position: relative;
	margin: 0 auto;
	z-index: 2;
}

.horizont-menu {
	position: relative;
	width: 100%;
	height: 33px;
	background: #085699;
	margin: 0 auto;
	z-index: 25;
}

.menu {
	width: 1100px;
	float: right;
}

.menu ul {
    width: 500px;
    float: left;
}

.menu li {
	display: inline-block;
	list-style: none;
}

.menu li a {
	text-decoration: none;
	text-align: center;
	color: #4592cb;
	width: 95px;
	height: 28px;
	padding-top: 5px;
	float: left;
}

.menu li a:hover {
	color: white;
	background: #4eabda;
}

.flag {
	width: 25px;
	margin-top: 5px;
	float: left;
}

.flag-menu {
	float: left;
}

.flag-menu ul {
}

.flag-menu li {
    display: inline-block;
	list-style: none;
}

.flag-menu li a {
	text-align: center;
	color: #fff;
	width: 200px;
	padding-top: 5px;
	float: left;
}

.flag-menu li a:hover {
    background: linear-gradient(to top, #3280c7, #50afdc);
    height: 28px;
}

.forms {
	background: rgba( 15, 14, 14, 0.5 );
	position: relative;
	height: 650px;
	width: 500px;
    top: 205px;
    margin: 0 auto;
    z-index: 30;
}


hr {
	color: rgba( 153, 153, 153, 0,5 );
}

.cadastre {
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 10px;
}

.fb {
	padding: 35px 100px;
}

.line {
    border-right: 1px solid #4eabda;
}

.ou1 {
	width: 100px;
	height: 1px;
    box-shadow: inset 0 0 5px 2px #b1b1b1;
	float: left;
}

.ou {
	width: 40px;
	float: left;
	color: #b1b1b1;
	margin: -7px 0 0 15px;
}

.ou2 {
	width: 100px;
	height: 1px;
    box-shadow: inset 0 0 5px 2px #b1b1b1;
	float: left;
}

.lineou {
	width: 260px;
	margin-left: 110px;
}

input {
	width: 240px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	margin: 20px 0 0 110px;
	padding: 10px 0 10px 20px;
	border: 2px solid black;
	background: rgb( 15, 14, 14 );
}

input:hover {
	background: linear-gradient(to top, #3280c7, #50afdc);
	border: 2px solid #689bcc;
	border-radius: 5px;
}

.submit {
	width: 170px;
	padding: 10px;
	cursor: pointer;
	background: #4198d2;
	border: 2px solid #1b5288;
	margin-left: 160px;
	border-radius: 7px;
}

#checkbox {
    width: 25px;
}

p {
	font-size: 14px;
	color: #fff;
}

.end {
	text-align: center;
}

span {
	text-decoration: underline;
}